* {
    font-family: 'Poppins';
}

.container {
    max-width: 1184px;
    margin: 0 auto;
}

.contayner {
    max-width: 1440px;
    margin: 0 auto;
}

.nav {
    display: flex;
    align-items: center;
    position: fixed;
    width: 1440px;
    height: 92px;
    top: 0px;
    background-color: #fff;
}

select {
    border: none;
    background-color: transparent;
    display: flex;
}

select:hover{
cursor: pointer;
}

form {
    display: flex;
}

.nav a .logo {
    margin-right: 300px;
}

.nav p {
    margin-right: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #405741;
}
.nav p:hover{
cursor: pointer;
color: #059391;
}

.select1 {
    margin-right: 56px;
}

.select1 option {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #494961;
}

.select2 {
    margin-right: 56px;
}

.select2 option {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #494961;
}

.select3 {
    margin-right: 80px;
}

.odamcha {
    margin-right: 24px;
}

.kattarasm {
    background-image: url(/images/png/kattarasm\ \(2\).png);
    width: 1440px;
    height: 540px;
    margin-top: 100px;
}

.kattarasm h1 {
    font-size: 52px;
    font-weight: 600;
    line-height: 78px;
    padding-top: 139px;
}

.kattarasm p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.kattarasm button {
    width: 220px;
    height: 48px;
    color: #fff;
    background-color: #405741;
    margin-top: 56px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    transition: all 1.3s;
}

.kattarasm button:hover {
    cursor: pointer;
    background-color: #36893b;
    transform: scale(105%);
}
.kattarasm button:hover span{
     margin-left: 10px;
     }
.images {
    display: flex;
    gap: 8px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.card1 {
    width: 278px;
    height: 160px;
    background-color: #FFEEF4;
    border-radius: 8px;
    padding: 8px, 16px, 8px, 16px;
    transition: all 1s;
}

.card2 {
    width: 278px;
    height: 160px;
    background-color: #E8FBFF;
    border-radius: 8px;
    padding: 8px, 16px, 8px, 16px;
    transition: all 1s;
}

.card3 {
    width: 278px;
    height: 160px;
    background-color: #E5FFF1;
    border-radius: 8px;
    padding: 8px, 16px, 8px, 16px;
    transition: all 1s;
}

.card4 {
    width: 278px;
    height: 160px;
    background-color: #EFEFFE;
    border-radius: 8px;
    padding: 8px, 16px, 8px, 16px;
    transition: all 1s;
}

.images img {
    margin-left: 100px;
    margin-top: 13px;
}

.images p {
    margin-left: 90px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.twoimg__card {
    display: flex;
    width: 584.5px;
    height: 273px;
    background-color: #059391;
    border-radius: 16px;
}

.twoimg__card h1 {
    font-size: 44px;
    font-weight: 600;
    line-height: 66px;
    padding-top: 5px;
    color: #fff;
    margin-left: 21px;
}

.twoimg__card p {
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    color: #fff;
    margin-left: 21px;
}

.twoimg__card button {
    width: 156px;
    height: 44px;
    background-color: #9ACB6B;
    color: #fff;
    border: none;
    border-radius: 8px;
    margin-left: 21px;
    font-size: 16px;
    line-height: 24px;
    transition: all 2s;
}

.twoimg__card img {
    display: flex;
    width: 277px;
    height: 247px;
    padding-top: 10px;
}

.twoimg {
    display: flex;
    gap: 16px;
}

.twoimg__card2 {
    display: flex;
    width: 584.5px;
    height: 273px;
    background-color: #a0deff;
    border-radius: 16px;
}

.twoimg__card2 h1 {
    font-size: 44px;
    font-weight: 600;
    line-height: 66px;
    padding-top: 5px;
    color: #121216;
    margin-left: 21px;
}

.twoimg__card2 p {
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    color: #121216;
    margin-left: 21px;
}

.twoimg__card2 button {
    width: 156px;
    height: 44px;
    background-color: #405741;
    color: #fff;
    border: none;
    border-radius: 8px;
    margin-left: 21px;
    font-size: 16px;
    line-height: 24px;
    transition: all 2s;
}

.twoimg__card2 img {
    display: flex;
    width: 277px;
    height: 247px;
    padding-top: 10px;
}

.twoimg__card2 button:hover {
    cursor: pointer;
    background-color: #9ACB6B;
    font-size: 18px;
    line-height: 27px;
}

.twoimg__card button:hover {
    cursor: pointer;
    background-color: #405741;
    font-size: 18px;
    line-height: 27px;
}

.card1:hover {
    transform: scale(105%);
    cursor: pointer;
    background-color: #edfbff;
}

.card2:hover {
    cursor: pointer;
    transform: scale(105%);
    background-color: #ededed;
}

.card3:hover {
    transform: scale(105%);
    cursor: pointer;
    background-color: #ededed;
}

.card4:hover {
    transform: scale(105%);
    cursor: pointer;
    background-color: #c2c4c5;
}

.ortasi h1 {
    font-size: 44px;
    font-weight: 600;
    line-height: 66px;
}

.ortasi {
    margin-top: 120px;
    text-align: center;
    margin-bottom: 80px;
}

.ortasi p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.cardd1 {
    width: 278.75px;
    height: 424px;
    padding: 16px 0px 0px 0px;
    border-radius: 16px 0px 0px 0px;
    border: 1px solid #f2f3f5;
    opacity: 0px;
    transition: all 1s;
}

.cardd2 {
    width: 278.75px;
    height: 424px;
    padding: 16px 0px 0px 0px;
    border-radius: 16px 0px 0px 0px;
    border: 1px solid #f2f3f5;
    opacity: 0px;
    transition: all 1s;
}

.cardd1:hover {
    cursor: pointer;
    transform: scale(105%);
}

.cardd3 {
    width: 278.75px;
    height: 424px;
    padding: 16px 0px 0px 0px;
    border-radius: 16px 0px 0px 0px;
    border: 1px solid #f2f3f5;
    opacity: 0px;
    transition: all 1s;
}

.cardd4 {
    width: 278.75px;
    height: 424px;
    padding: 16px 0px 0px 0px;
    border-radius: 16px 0px 0px 0px;
    border: 1px solid #f2f3f5;
    opacity: 0px;
    transition: all 1s;
}

.cardd2:hover {
    cursor: pointer;
    transform: scale(105%);
}

.cardd3:hover {
    cursor: pointer;
    transform: scale(105%);
}

.cardd4:hover {
    cursor: pointer;
    transform: scale(105%);
}

.cardlar {
    display: flex;
    gap: 16px;
}

.cardlar p {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.pul {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cardlar h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.cardlar h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #8590A2;
}

.cardlar button {
    width: 246.75px;
    height: 44px;
    padding: 10px 16px 10px 16px;
    gap: 8px;
    border-radius: 8px 0px 0px 0px;
    opacity: 0px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    transition: all 1.5s;
    background-color: #405741;
    color: #fff;
    transition: all 1s;
}

.cardlar button:hover {
    cursor: pointer;
    background-color: #36893b;
    color: #121216;
    font-size: 19px;
    transform: scale(105%);
    line-height: 27px;
}

.cardd2 p {
    padding-top: 22px;
}

.cardd3 p {
    padding-top: 22px;
}
.big__card{
     display: flex;
width: 1185px;
height: 444.38px;
margin-top: 120px;
background-color:#eef5ec;
border-radius: 24px;
margin-bottom: 120px;
}
.big__card img{
margin-left: 200px;
margin-top: 35px;
}
.big__card h1{
     font-size: 36px;
     font-weight: 700;
     line-height: 54px;    
     margin-left: 150px; 
     margin-right: 50px;
     margin-top: 53px;
}
.big__card p{
     font-size: 18px;
     font-weight: 400;
     line-height: 27px;
     margin-right: 50px;
     margin-left: 150px;
}
.big__card button {
     width: 220px;
     height: 48px;
     color: #fff;
     background-color: #405741;
     margin-top: 32px;
     font-size: 16px;
     line-height: 24px;
     font-weight: 600;
     margin-left: 150px;
     transition: all 1.3s;
 }
 
 .big__card button:hover {
     cursor: pointer;
     background-color: #36893b;
     transform: scale(105%);
 }
 .big__card button:hover span{
margin-left: 10px;
}

.big__card--content{
width: 100%;
height: 663px;
background-color: #E9F8EF;
margin-bottom: 120px;
}
.big__card--content h1{
text-align: center;
font-size: 44px;
font-weight: 600;
line-height: 66px;
padding-top: 95px;
}
.big__card--content p{
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 24px;
}
.cardlarr .card_content1{
     width:384.33px;
     height: 234px;
     padding: 24px 0px 0px 0px;
     gap: 40px;
     border-radius: 8px 0px 0px 0px;
     opacity: 0px;     
     background-color: #fff;
}
.cardlarr .card_content2{
     width:384.33px;
     height: 234px;
     padding: 24px 0px 0px 0px;
     gap: 40px;
     border-radius: 8px 0px 0px 0px;
     opacity: 0px;     
     background-color: #fff;
}
.cardlarr .card_content3{
     width:384.33px;
     height: 234px;
     padding: 24px 0px 0px 0px;
     gap: 40px;
     border-radius: 8px 0px 0px 0px;
     opacity: 0px;     
     background-color: #fff;
}
.cardlarr{
display: flex;
gap: 40px;
margin-left: 127px;
margin-top: 80px;
}
.cardlarr p{
text-align: start;
font-size: 16px;
font-weight: 400;
line-height: 24px;
padding-left: 24px;
margin-bottom: 40px;
}
.cardlarr img{
padding-left: 24px;
padding-bottom: 50px;
}
.small_img{
display: flex;
align-items: center;
}
.small_img h4{
     padding-left: 19px;
     font-size: 16px;
     font-weight: 500;
     padding-bottom: 85px;
}
.click{
     width: 40px;
     height: 8px;
     gap: 0px;
     border-radius: 8px 0px 0px 0px;
     opacity: 0.2px;    
     background-color: #c7d8cc; 
     transition: all 0.5s;
}
.clicks{
display: flex;
gap: 10px;
margin-left: 628px;
margin-top: 60px;
}
.click:hover{
cursor: pointer;
background-color: #405741;
}
.linklari{
     width: 100%;
     height: 448px;
background-color: #F1F2F44D;
}
.div1 a img{
padding-top: 40px;
}
.div1{
margin-right: 88px;
}
.div1 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #091E42;
}
.tugedi{
display: flex;
}
.saytlar{
margin-right: 15px;
transition: all 1s;
}
.saytlar:hover{
transform: scale(110%);
}
.div2 h1{
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    color: #091E42;
}
.div2{
padding-top: 40px;
margin-right: 88px;
}
.div2 p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.div3 h1{
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}
.div3{
padding-top: 40px;
}
.search{
    width: 246px;
    height: 56px;
    padding: 0px 16px 0px 16px;
    gap: 8px;
    border-radius: 8px 0px 0px 8px;
    opacity: 0px;   
    border: #eff1f3 1px solid; 
    transition: all 1s;
}
.oxiridegi_but{
    width: 101px;
    height: 56px;
    gap: 0px;
    border: #eff1f3 1px solid; 
    background-color: #405741;    
    color: #fff;
    transition: all 1s;
}
.oxiridegi_but:hover{
cursor: pointer;
transform: scale(105%);
}
.search:hover{
cursor: pointer;
transform: scale(105%);
}